@import 'tailwindcss/tailwind.css';

@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

body {
  overflow: hidden;
}

.container {
  position: relative;
}

.border {
  position: relative;
  margin: 3vh;
  padding: 2vh;
  border: 1px solid white;
  height: 93vh;
  overflow: hidden;
}

.dark-border {
  position: relative;
  margin: 3vh;
  padding: 2vh;
  border: 1px solid black;
  height: 93vh;
  overflow: hidden;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.info {
  margin: 1rem;
}

.info h6 {
  font-size: 0.5rem;
}

.info p {
  font-size: 1rem;
}
