@import 'tailwindcss/tailwind.css';

@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

body {
  overflow: hidden;
  transition: background-color 200ms;
  font-family: 'Roc Grotesk', sans-serif; 

}

.container {
  position: relative;
}

.border {
  position: relative;
  margin: 3vh;
  border: 1px solid #f4f1f8;
  height: 93vh;
  overflow: hidden;
}

.dark-border {
  position: relative;
  margin: 3vh;
  border: 1px solid #0E0409;
  height: 93vh;
  overflow: hidden;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.info {
  margin: 1rem;
}

.info h6 {
  font-size: 0.5rem;
}

.info p {
  font-size: 1rem;
}

.checkbox-container {
  position: fixed;
  bottom: 2vh; /* Ou la valeur nécessaire pour aligner avec la bordure de Home */
  left: 1vh; /* Ou la valeur nécessaire pour aligner avec la bordure de Home */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2vh;

}

.checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px; /* Espacement entre les ensembles de labels et de fausses checkboxes */
}

.checkbox-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 10px; /* Taille de la police réduite pour le texte */
  margin-bottom: 4px; /* Espacement entre le texte et la fausse checkbox */
}

.fake-checkbox {
  width: 8px; /* Largeur de la fausse checkbox réduite */
  height: 8px; /* Hauteur de la fausse checkbox réduite */
  border: 1px solid currentColor; /* Bordure de la fausse checkbox qui s'adapte au thème */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-checkbox::after {
  content: '';
  font-size: 10px; /* Taille de la coche réduite */
  opacity: 0; /* Coche transparente jusqu'à ce que la checkbox soit cochée */
}

.checkbox-label input[type="checkbox"] {
  display: none; /* Cacher la vraie checkbox */
}

.checkbox-label input[type="checkbox"]:checked + .fake-checkbox::after {
  opacity: 1; /* Rendre la coche visible */
  content: '✔'; /* Ajouter une coche lorsque la checkbox est cochée */
  color: currentColor; /* La couleur changera selon le thème */
}




body.dark-mode {
  background-color: #0E0409; /* ou la couleur que vous voulez pour le mode sombre */
  color: #f4f1f8; /* pour le texte en mode sombre */
}

body.light-mode {
  background-color: #f4f1f8; 
  color: #0E0409; 
}


.project-list {
  position: absolute;
  bottom: 25%; /* ajustez si nécessaire pour l'affichage à partir des trois quarts de la page */
  right: 0;
  width: 30%; /* ajustez selon la largeur souhaitée */
  max-height: 70%; /* ajustez selon l'espace disponible que vous voulez allouer */
  overflow-y: auto; /* permet le défilement vertical si le contenu dépasse max-height */
  background-color: hidden; /* ou toute autre couleur de fond appropriée */
  padding: 1rem;
  box-sizing: border-box;
}

.project-item {
  margin-bottom: 15px;
}

.project-title {
  font-weight: bold;
}

.project-details {
  font-size: 0.9em;
}

.about-section {
  position: absolute;
  bottom: 25%; /* ajustez si nécessaire pour l'affichage à partir des trois quarts de la page */
  right: 0;
  width: 40%; /* ajustez selon la largeur souhaitée */
  max-height: 50%; /* ajustez selon l'espace disponible que vous voulez allouer */
  background-color: hidden; /* ou toute autre couleur de fond appropriée */
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0.8em;
  backdrop-filter: blur(2px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: 25%; /* ajustez si nécessaire pour l'affichage à partir des trois quarts de la page */
  right: 0;
  width: 30%; /* ajustez selon la largeur souhaitée */
  max-height: 70%; /* ajustez selon l'espace disponible que vous voulez allouer */
  overflow-y: auto; /* permet le défilement vertical si le contenu dépasse max-height */
  background-color: hidden; /* ou toute autre couleur de fond appropriée */
  padding: 1rem;
  box-sizing: border-box;
}

