@import 'tailwindcss/tailwind.css';

@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';


body {
  background-color: black;
}



.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin: 0 1rem;
}

.info h6 {
  font-size: 0.5rem;
}

.info p {
  font-size: 1rem;
}
